@using FinalEcormer2023.ViewModels
@model ForgotPasswordViewModel;
<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Forgot Password</h1>
					<nav class="d-flex align-items-center">
						<a href="#">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of
								this is the</p>
						<a class="primary-btn" asp-action="Register" asp-controller="Account">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Forgot Password</h3>
						<form class="row login_form" method="post" novalidate="novalidate" asp-action="ForgotPassword" asp-controller="Account">
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" placeholder="Enter your email" 
								onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Enter your email'"
								data-val="true" data-val-required="Please enter your username!"
								asp-for="Email"
								value="">
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Forgot Password</button>
							</div>
							@Html.ValidationSummary(false ,"" , new {@class="text-danger"});
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>