@model FinalEcormer2023.ViewModels.ResetPasswordViewModel
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Reset Password Successfull </h1>
					<nav class="d-flex align-items-center">
						<a asp-action="Index" asp-controller="Home">Home<span class="lnr lnr-arrow-right"></span></a>
						<a asp-action="Login" asp-controller="Account">Login</a>
					</nav>
				</div>
			</div>
		</div>
	</section>